/*MONTSERRAT*/
@font-face {
    font-family: 'Montserrat-SemiBold';
	font-style: normal;
	font-weight: normal;
	src: local('Montserrat-SemiBold'),
		url('../fonts/Montserrat/static/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
	font-style: normal;
	font-weight: bold;
	src: local('Montserrat-Bold'),
		url('../fonts/Montserrat/static/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat/static/Montserrat-Bold.ttf') format('ttf');
}

/*LORA*/
@font-face {
    font-family: 'Lora-Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Lora-Regular'),
		url('../fonts/Lora/static/Lora-Regular.woff') format('woff'),
        url('../fonts/Lora/static/Lora-Regular.ttf') format('ttf');
}

* {
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*шапка*/
.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #000;
	box-shadow: 0 0 30px rgba(0,26,108,0.9);
}

.navigation {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*логотип*/
.info {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo_img {
    width: 100%;
    height: 100%;
}

.logo_info {
    margin-left: 15px;
}

.logo_text1 {
    color: #fff;
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    letter-spacing: 0.17em;
    margin-top: 2px;
}

.logo_text2 {
    color: #fff;
    font-family: 'Lora-Regular';
    font-size: 13px;
    margin-top: 5px;
}

/*меню сайта*/
.menu {
    font-size: 12px;
    letter-spacing: 0.15em;
}

ul {
  list-style: none;
  float: right;
  line-height: 70px;
  text-align:center;
}

li a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

li {
  display: inline-block;
  margin-left: 40px;
  transition: .5s linear;
}

li a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 20px;
  background: #4d8bef;
  transition: all 0.3s linear;
}

li a:hover:after{
  width: 100%;
}

/*главный экран*/
.main {
	width: 100%;
    height: 650px;
    margin-top: 0;
    background:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../img/2.jpg") center center no-repeat;
    /*background:
            linear-gradient(rgba(0, 1, 52, 0.5), rgba(0, 1, 73, 0.5)),
            url("../img/back11.jpg") center center no-repeat;*/
    background-size: cover;
}

/*блок информации*/
.greetings {
	width: 80%;
	margin: 0 auto;
    padding-top: 19%;
}

.main_title, .main_text {
	text-align: center;
	color: white;
}

.main_title {
    font-family: 'Montserrat-Bold';
    font-size: 45px;
    letter-spacing: 0.2em;
}

.main_text {
    margin-top: 30px;
    font-family: 'Lora-Regular';
    font-size: 16px;
    line-height: 1.3;
}

/*калькулятор*/
.container {
	width: 90%;
	margin: 7% auto;
	display: grid;
	grid-template-columns: 60% 40%;
}

.block {
	border: 2px solid #80bdff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.title {
	margin-bottom: 20px;
}

.choice {
	margin-bottom: 10px;
}

.price {
	float: right;
}

/* для элемента input c type="radio" */
.custom-radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio>span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio>input:focus:not(:checked)+span::before {
  border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio>input:checked+span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio>input:disabled+span::before {
  background-color: #e9ecef;
}


/* для элемента input c type="checkbox" */
.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox>span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox>input:focus:not(:checked)+span::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox>input:checked+span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox>input:disabled+span::before {
  background-color: #e9ecef;
}


/*стоимость работы и кнопка*/
.right {
	position: sticky;
	top: 22%;
  /*margin-bottom: -10em;*/
	float: right;
	border: 2px solid #0b76ef;
  border-radius: 10px;
  padding: 20px;
  margin-left: 30px;
  height: 175px;
}

.title {
    margin-left: 10px;
    font-family: 'Montserrat-Bold';
    font-size: 20px;
    letter-spacing: 0.1em;
}

.cost {
    margin-left: 10px;
    font-family: 'Lora-Regular';
    font-size: 16px;
}

.btn {
	 text-align: center;
}

.button {
    border: 0;
  text-decoration: none;
  display: inline-block;
    width: 90%;
  padding: 20px 40px;
  margin-top: 35px;
  border-radius: 40px;
  background-image: linear-gradient(-225deg, #78f4ff 0%, #6297DB 48%, #1EECFF 100%);
    /*background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);*/
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 20px;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    cursor: pointer;
  transition: .5s;
}

.button:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.title_form, .text_form {
  text-align: center;
  margin-bottom: 20px;
}

.field {
  width: 100%;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  height: 45px;
  padding-left: 20px;
  margin-bottom: 20px;
}

/*подвал*/
.footer {
	padding-top: 1px;
	padding-bottom: 1px;
    height: 150px;
    background-color: #030030;
}

.basement {
	width: 90%;
	margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_dis {
    color: #fff;
    font-family: 'Lora-Regular';
    font-size: 12px;
}

/*адаптивность*/
@media screen and (max-width: 992px) {
    .navigation {
        display: block;
    }

    .info {
        width: 50%;
        margin: 20px auto;
    }

    .menu {
        display: none;
        width: 100%;
        margin: 0 auto;
    }

    .header:active .menu {
        width: 100%;
        margin: 0 auto;
        display: block;
        background: #000;
        transition: transform 0.3s ease;
    }

    li {
        margin-left: 0;
        display: block;
    }

    li a {
        display: block;
    }

    li a:after {
      width: 0;
      left: 25%;
        background: #fff;
    }

    li a:hover:after{
      width: 50%;
        margin: 0 auto;
    }

    .greetings {
        margin: 100px auto;
    }

    .main_title {
        margin-top: 50px;
        font-size: 35px;
    }

    .main_text {
        margin-top: 50px;
        font-size: 15px;
    }

    .container {
        display: block;
    }

    /*стоимость работы и кнопка*/
    .right {
        margin: 0 auto;
        position: static;
        top: 22%;
        float: none;
        border: 2px solid #0b76ef;
      border-radius: 10px;
      padding: 20px;
      height: 175px;
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        display: block;
    }

    .info {
        width: 50%;
        margin: 20px auto;
    }

    .menu {
        display: none;
        width: 100%;
        margin: 0 auto;
    }

    .header:active .menu {
        width: 100%;
        margin: 0 auto;
        display: block;
        background: #000;
        transition: transform 0.3s ease;
    }

    li {
        margin-left: 0;
        display: block;
    }

    li a {
        display: block;
    }

    li a:after {
      width: 0;
      left: 25%;
        background: #fff;
    }

    li a:hover:after{
      width: 50%;
        margin: 0 auto;
    }

    .greetings {
        margin: 100px auto;
    }

    .main_title {
        margin-top: 50px;
        font-size: 35px;
    }

    .main_text {
        margin-top: 50px;
        font-size: 15px;
    }

    .container {
        display: block;
    }

    /*стоимость работы и кнопка*/
    .right {
        margin: 0 auto;
        position: static;
        top: 22%;
        float: none;
        border: 2px solid #0b76ef;
      border-radius: 10px;
      padding: 20px;
      height: 175px;
    }
}

@media screen and (max-width: 576px) {
    .navigation {
        display: block;
    }

    .info {
        width: 50%;
        margin: 20px auto;
    }

    .menu {
        display: none;
        width: 100%;
        margin: 0 auto;
    }

    .header:active .menu {
        width: 100%;
        margin: 0 auto;
        display: block;
        background: #000;
        transition: transform 0.3s ease;
    }

    li {
        margin-left: 0;
        display: block;
    }

    li a {
        display: block;
    }

    li a:after {
      width: 0;
      left: 25%;
        background: #fff;
    }

    li a:hover:after{
      width: 50%;
        margin: 0 auto;
    }

    .greetings {
        margin: 100px auto;
    }

    .main_title {
        margin-top: 50px;
        font-size: 35px;
    }

    .main_text {
        margin-top: 50px;
        font-size: 15px;
    }

    .container {
        display: block;
    }

    /*стоимость работы и кнопка*/
    .right {
        margin: 0 auto;
        position: static;
        top: 22%;
        float: none;
        border: 2px solid #0b76ef;
      border-radius: 10px;
      padding: 20px;
      height: 175px;
    }
}