{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <title>Редактирование</title>
</head>
<body>
    <div class="container">
        <div class="add">
            <a class="btn btn-outline-success" style="margin-top: 20px; margin-bottom: 20px" href="{% url 'calculation' %}" role="button">Главная страница</a>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-outline-primary" value="Сохранить">
            </form>
        </div>
    </div>
</body>
</html>